.Settings-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.Settings-Frame {
  position: absolute;
  background: #FFFFFF;
  border-radius: 11px;
  height: 520px;
  width: 1000px;
  top: calc(50% - 300px);
  left: calc(50% - 500px);
  margin: auto;

  .config_img {
    position: fixed;
    top: 190px;
    left: 890px;
    width: 35px;
    height: 35px;
  }

  .chose_img_container {
    .chose_img_wrapper {
      position: fixed;
      top: 318px;
      left: 570px;
      width: 130px;
      height: 132px;
      border-radius: 16px;
      transition: box-shadow 0.4s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 15px 5px rgba(68, 97, 242, 0.6);
      }

      .chose_img {
        position: fixed; 
      top: 318px;
      left: 570px;
      width: 130px;
      height: 132px;
      border-radius: 16px;
      }
    }
  }

  .form {
    position: absolute;
    justify-content: center;
    top: 100px;
    left: 270px;

    .NameRectangleC,
    .EmailRectangleC,
    .PasswordRectangleC {
      position: absolute;
      width: 256px;
      height: 39px;
      background: #EAF0F7;
      border: none;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding-left: 15px;
      outline: none;
      font-family: 'Inter', sans-serif;
      font-size: 15px;
      color: #4F555A;

      &::placeholder {
        color: #8C959A;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
      }

      &:hover,
      &:focus {
        box-shadow: 0px 0px 15px 5px rgba(68, 97, 242, 0.6);
        transition: box-shadow 0.4s ease-in-out;
      }
      &.NameRectangleC{
        top: 57px;
        left: 89px;
      }
      &.EmailRectangleC{
        top: 111px;
        left: 89px;
      }
      &.PasswordRectangleC{
        top: 168px;
        left: 89px;
      }
    }

    .UploadRectangle,
    .ChangeAcountRectangle {
      border: none;
      position: absolute;
      width: 170px;
      height: 37px;
      background: #4461F2;
      box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: 'Manrope', sans-serif;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 15px 5px rgba(68, 97, 242, 0.6);
      }

      &.ChangeAcountRectangle {
        width: 190px;
        left: 405px;
        background: #37E449;
        font-size: 18px;
        top: 238px;
        right: -37px;
      }
      &.UploadRectangle{
        top: 238px;
        left: 134px;
      }
    }
  

    .RecoverGoogleBox1,
    .RecoverFacebookBox1 {
      position: absolute;
      width: 89.28px;
      height: 47.43px;
      left: 450px;
      background: #FFFFFF;
      border-radius: 13px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;

      &.RecoverFacebookBox1 {
        top: 110px; 
      }
      &.RecoverGoogleBox1{
        top: 50px; 
      }
      &:hover {
        box-shadow: 0px 0px 15px 5px rgba(68, 97, 242, 0.6);
        transition: box-shadow 0.4s ease-in-out;
      }

      img.RecoverGoogleImage1,
      img.RecoverFacebookImage1 {
        width: 22px;
        height: 23px;
        object-fit: contain;
        border-radius: 100px;
      }
    }

    .ContinueWhit {
      position: absolute;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.1em;
      color: #C7C7C7;
      top: 190px;
      left: 450px;
      word-break: keep-all;
      width: 200px;
    }
  }
}